table{
  border-collapse: seperate;
  border-spacing: 10px 0;
  margin-left: auto;
  margin-right: auto;

}
td{
  /* background-color: Red; */

}
h2{
  text-align: center;
  margin: auto;
  font-family: 'Permanent Marker', cursive;
}
#one{
  background-color: #264653;
}

#two{
  background-color: #2A9D8F;
}

#three{
  background-color: #E9C46A;
}

#four{
  background-color: #F4A261;
}

#five{
  background-color: #E76F51;
}
